{% extends "basic.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
      <h1 class="my-4">

        {% trans 'Status create' %}

      </h1>
    {% if form.errors %}
    <div>
        <ul>
        {% for error in form.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

<form action="{% url 'status_create' %}" method="post">
  {% csrf_token %}

  {% bootstrap_form form %}

  <input type="submit" class="btn btn-primary mb-3" value="{% trans 'Create' %}">

</form>


{% endblock %}