{% extends "basic.html" %}


{% block content %}
{% load i18n %}

<h1 class="my-4">

  {% trans 'Statuses' %}

      </h1>

<a class="btn btn-primary mb-3" href="/statuses/create/">{% trans 'Status create' %}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Date of creation' %}</th>
      <th></th>
    </tr>
    <tbody>
{% for status in statuses %}
      <tr>
      <td>{{ status.id }}</td>
      <td>{{ status.name }}</td>
      <td>{{ status.timestamp }}</td>
      <td>
          <form action="{% url 'status_update' status.id %}" method="get">
            {% csrf_token %}
          <input type="submit" value="{% trans 'Update' %}">
            </form>
          <form action="{% url 'status_delete' status.id %}" method="get">
            {% csrf_token %}
          <input type="submit" value="{% trans 'Delete' %}">
            </form>
      </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}