{% extends "basic.html" %}


{% block content %}
{% load i18n %}

<h1 class="my-4">

Статусы

      </h1>

<a class="btn btn-primary mb-3" href="/labels/create/">Создать статус</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
    <tbody>
{% for label in labels %}
      <tr>
      <td>{{ label.id }}</td>
      <td>{{ label.name }}</td>
      <td>{{ label.timestamp }}</td>
      <td>
          <form action="{% url 'label_update' label.id %}" method="get">
            {% csrf_token %}
          <input type="submit" value="Изменить">
            </form>
          <form action="{% url 'label_delete' label.id %}" method="get">
            {% csrf_token %}
          <input type="submit" value="Удалить">
            </form>
      </td>
    </tr>
      {% endfor %}
    </tbody>

{% endblock %}