{% extends "basic.html" %}


{% block content %}
{% load i18n %}

      <h1 class="my-4">

{% trans 'Task detail' %}

      </h1>

<div class="card">
  <div class="card-header bg-secondary text-white">
    <h2>{{ task.name }}</h2>
  </div>
  <div class="card-body bg-light">
    <p>{{ task.description }}</p>
    <hr>
    <div class="container">
      <div class="row p-1">
        <div class="col">Автор</div>
        <div class="col">{{ task.author.user.first_name }} {{ task.author.user.last_name }}</div>
      </div>
      <div class="row p-1">
        <div class="col">Исполнитель</div>
        <div class="col">{{ task.executor.user.first_name }} {{ task.executor.user.last_name }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans 'Status' %}</div>
        <div class="col">{{ task.status }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans 'Date of creation' %}</div>
        <div class="col">{{ task.timestamp }}</div>
      </div>

      <div class="row p-1">
        <div class="col">
          <h6>{% trans 'Labels' %}:</h6>
          <ul>
            {% for l in labels %}
              <li>{{ l.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row p-1">
        <div class="col">
          <a href="{% url 'task_update' task.id %}">{% trans 'Update' %}</a>
          <br>
          <a href="{% url 'task_delete' task.id %}">{% trans 'Delete' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}