{% extends "basic.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
      <h1 class="my-4">

{% trans 'Task update' %}

      </h1>
    {% if form.errors %}
    <div>
        <ul>
        {% for error in form.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

        <form action="{% url 'task_update' pk %}" method="post">
            {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="form-error">{{ form.non_field_errors }}</div>

            {% bootstrap_form form %}

            <input type="submit" class="btn btn-primary mb-3" value="{% trans 'Update' %}">
        </form>

{% endblock %}